{{ form_start(form) }}


{{ form_row(form.nom) }}
{{ form_row(form.description) }}

{% if produit is defined %}

<div class="border-1">
    <span>Image actuelle !</span>

    <img src="{{ asset('images/uploads/product/'~ produit.image) }}">
</div>


<label>Changez l'image seulement si l'actuelle ne va pas ...</label>
{{ form_row(form.image, {'required': false}) }}
{% else %}

    {{ form_row(form.image, {'required': true}) }}

{% endif %}





{{ form_end(form) }}
