{% extends 'base-admin.html.twig' %}

{% block title %}
    {{ parent() }} - Liste des produitss
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/datatables.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel="script" src="{{ asset('js/admin/datatables.min.js') }}"></script>
    <script rel="script" src="{{ asset('js/admin/init-datatable.js') }}"></script>
{% endblock %}

{% block heading %}
    ADMINISTRATION -> Les produits
{% endblock %}


{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>NbStar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td><img class="img-thumbnail" src="{{ asset('images/uploads/product/' ~ produit.image) }}"/></td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.nbStar }}</td>
                <td>
                    <a href="{{ path('admin_produit_crud_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('admin_produit_crud_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_produit_crud_new') }}">Create new</a>
{% endblock %}
