{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} - Admin produit{% endblock %}

{% block heading %}
    ADMINISTRATION -> Les produits > Ajout
{% endblock %}

{% block body %}
    <h1>Create new Produit</h1>

    {{ include('admin/produit_crud/_form.html.twig') }}

    <a href="{{ path('admin_produit_crud_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel="script" src="{{ asset('js/admin/proto-article.js') }}"></script>
{% endblock %}