{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ produit.image }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>NbStar</th>
                <td>{{ produit.nbStar }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_produit_crud_index') }}">back to list</a>

    <a href="{{ path('admin_produit_crud_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit_crud/_delete_form.html.twig') }}
{% endblock %}
