{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}


{% block body %}
<div class="container">
    <h2>Montant total : {{ prix }} euros</h2>

    {% if panier|length > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">product</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Prix total</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for productOrder in panier %}
        {% dump productOrder %}
        <tr>
            <th scope="row">{{ productOrder.product.id }}</th>
            <td>{{ productOrder.product.nom }}</td>
            <td>{{ productOrder.quantity }}</td>
            <td>{{ productOrder.product.prix }} €</td>
            <td>{{ productOrder.product.prix * productOrder.quantity }} €</td>
            <td>
                <a href="{{ path('panier_remove_product', {'id': productOrder.product.id}) }}">Supprimer du panier</a>
                <a href="{{ path('panier_addremoveone', {'id': productOrder.product.id, 'operator': 'plus'}) }}">+</a>
                <a href="{{ path('panier_addremoveone', {'id': productOrder.product.id, 'operator': 'moins'}) }}">-</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2 class="text-danger">Votre panier est vide !</h2>
    {% endif %}
</div>
{% endblock %}
