{% extends 'base.html.twig' %}

{% block title %}Mes produits sont paginés !{% endblock %}

{% block body %}
    <div class="container">

        <div class="row mt-3">

            <a href="{{ path('paginate_product', {'currentPage': 1, 'nbResult': 2}) }}">Afficher 2 produits par page</a>
            <a href="{{ path('paginate_product', {'currentPage': 1, 'nbResult': 4}) }}">Afficher 4 produits par page</a>

            {% for produit in produits %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ produit.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.nom }}</h5>
                        <p class="card-text">{{ produit.description|u.truncate(50, ' ...')  }}</p>
                        <a href="{{ path('detail_product', {'id': produit.id}) }}" class="btn btn-primary">En savoir plus sur l'article</a>
                        <a href="{{ path('panier_add', {'id': produit.id}) }}" class="btn btn-primary">Ajouter au panier</a>
                    </div>
                </div>
            {% endfor %}

            <nav aria-label="Page navigation example" class="mt-3">
                <ul class="pagination">
                    {% if currentPage != 1 %}
                    <li class="page-item"><a class="page-link" href="{{ path('paginate_product', {'currentPage': currentPage-1, 'nbResult': nbResult}) }}">Previous</a></li>
                    {% endif %}
                    {% for page in 1..nbPage %}
                    <li class="page-item {% if page == currentPage %}active{% endif %}"><a class="page-link" href="{{ path('paginate_product', {'currentPage': page, 'nbResult': nbResult}) }}">{{ page }}</a></li>
                    {% endfor %}
                    {% if currentPage != nbPage %}
                    <li class="page-item"><a class="page-link" href="{{ path('paginate_product', {'currentPage': currentPage+1, 'nbResult': nbResult}) }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </div>
{% endblock %}
