
.bg-custom{
    background-color:#130f40;
}
.button-fixed{
    bottom: 0;
    position: fixed;
    right: 0;
    border-radius: 4px;
}
.fas{
    cursor: pointer;
    font-size: 24px;
}
p{
    font-size: 14px;
}