{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'animalerie !{% endblock %}

{% block body %}
<div class="container">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/image-slider1.jpg') }}" class="d-block w-100" alt="Image d'un chien heureux">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/image-slider-2.webp') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/image-slider-3.jpg') }}" class="d-block w-100" alt="Chien qui regarde par la porte d'entrée">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row mt-3">


    {% for produit in produits %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ asset('images/uploads/product/' ~ produit.image) }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ produit.nom }}</h5>
                <p class="card-text">{{ produit.description|u.truncate(50, ' ...')  }}</p>
                <a href="{{ path('detail_product', {'id': produit.id}) }}" class="btn btn-primary">En savoir plus sur l'article</a>
                <a href="{{ path('panier_add', {'id': produit.id}) }}" class="btn btn-primary">Ajouter au panier</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
