{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'animalerie !{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('default') }}" class="btn btn-success">Retour</a><br>
        <div class="row mt-3">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ asset('images/uploads/product/' ~ produit.image) }}">
            </div>


            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for image in produit.images %}
                        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                            <img class="d-block w-100" src="{{  asset('images/uploads/product/' ~ image.fileName) }}" alt="{{ image.alt }}">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


            <div class="col-md-8">
                <h2>{{ produit.nom }}</h2>

                <br>
                <span>{{ produit.description }}</span>
            </div>
        </div>
    </div>
{% endblock %}
