<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Animalerie !<sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if app.request.get('_route') == 'admin' %}active{% endif %}">
        <a class="nav-link {% if app.request.get('_route') == 'admin' %}active{% endif %}" href="{{ path('admin') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Acceuil admin</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Me déco !</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        CRUD
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {% if app.request.get('_route') starts with 'admin_produit' %}active{% endif %}">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Les produits</span>
        </a>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Plus spécialement ? </h6>
                <a class="collapse-item {% if app.request.get('_route') == 'admin_produit_crud_index' %}active{% endif %} " href="{{ path('admin_produit_crud_index') }}">Liste des produits</a>
                <a class="collapse-item {% if app.request.get('_route') == 'admin_produit_crud_new' %}active{% endif %} " href="{{ path('admin_produit_crud_new') }}">Ajouter un produit</a>

            </div>
        </div>
    </li>



</ul>