{% extends 'base.html.twig' %}

{% block title %}Mes produits sont paginés !{% endblock %}

{% block body %}

    <div class="container">


        <div class="row mt-3">
            <h2>Mon super moteur de recherche</h2>

            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>

        <div class="row mt-3">

            <h2>Les résultats de la recherche </h2>

            <span>Notre moteur de recherche a {{ produits|length }} en {{ timeLoad }} ms </span>

            {% if produits|length == 0 %}
                <div class="text-danger">Aucun produit à afficher</div>
            {% endif %}
            {% for produit in produits %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ produit.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.nom }}</h5>
                        <p class="card-text">{{ produit.description|u.truncate(50, ' ...')  }}</p>
                        <a href="{{ path('detail_product', {'id': produit.id}) }}" class="btn btn-primary">En savoir plus sur l'article</a>
                        <a href="{{ path('panier_add', {'id': produit.id}) }}" class="btn btn-primary">Ajouter au panier</a>
                    </div>
                </div>
            {% endfor %}



        </div>
    </div>
{% endblock %}
