{% extends 'base.html.twig' %}

{% block body %}
{% dump formulaireCategory %}

    <div class="container">
         {{ form_start(formulaireCategory) }}
         {{ form_end(formulaireCategory) }}

        {{ form_errors(form.champ) }}
    </div>

{% endblock %}