{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('test_doctrine_add') }}"> Ajouter une catégorie ! </a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Catégorie parente</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for categ in categories %}
        <tr>
            <th scope="row">{{ categ.id }}</th>
            <td>{{ categ.label }}</td>
            <td>{% if categ.categoryParent is not null %}{{ categ.categoryParent.label }}{% else %}TOP CATEG {% endif %}</td>
            <td>
                <a href="{{ path('test_doctrine_remove', {'category': categ.id}) }}">Supprimer</a> |
                <a href="{{ path('test_doctrine_edit', {'category': categ.id}) }}">Editer !</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if categories|length == 0 %}
    Aucune donnée !
    {% endif %}

{% endblock %}