<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Administration{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <!-- Custom fonts for this template-->
        <link href="{{ asset('css/admin/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link
                href="{{ asset('css/admin/font-google.css') }}"
                rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset('css/admin/style.css') }}" rel="stylesheet">

    {% endblock %}

</head>
<body id="page-top">
<div id="wrapper">
    {% include 'admin/parts/menu.html.twig' %}

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include 'admin/parts/topbar.html.twig' %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    {% block heading %}
                    {% endblock %}
                </div>


                {% block body %}
                {% endblock body %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        {% include 'admin/parts/footer.html.twig' %}

    </div>
</div>


{% block javascripts %}
    <script rel="script" src="{{ asset('js/admin/jquery.min.js') }}"></script>
    <script rel="script" src="{{ asset('js/bootstrap.bundle.js') }}"></script>
    <script rel="script" src="{{ asset('js/admin/jquery-easing.min.js') }}"></script>
    <script rel="script" src="{{ asset('js/admin/sb-admin-2.min.js') }}"></script>
{% endblock %}

</body>
</html>
