<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/cookie.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script rel="script" src="{{ asset('js/bootstrap.bundle.js') }}"></script>
        {% endblock %}
    </head>
    <body>


        {{ app.request.get('panier') }}
        {% include 'parts/navbar.html.twig' %}

        {% block body %}{% endblock %}

        {% if app.request.cookies.get('accepted') != 1  %}
        <div class="row">
            <div class="col-md-4 col-sm-12 button-fixed">
                <div class="p-3 pb-4 bg-custom text-white">
                    <div class="row">
                        <div class="col-10">
                            <h2>Allow Cookies</h2>
                        </div>
                        <div class="col-2 text-center">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a href="{{ path('cookie_authorize') }}">
                        <button type="button" class="btn btn-danger w-100">Accept Cookies</button>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>
