<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Animalerie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('default') }}">Home {% if app.request.get('_route') == 'default' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('panier_display') }}">Panier {% if app.request.get('_route') starts with 'panier_' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('search') }}">Moteur de recherche {% if app.request.get('_route') starts with 'searc' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>


            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Me déconecter</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
            </li>
            {% endif %}

            {% if app.user %}
            <li class="nav-item">
                Bonjour {{ app.user.email }}
            </li>
            {% endif %}

            {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Accès admin !</a>
                </li>
            {% endif %}


        </ul>
    </div>
</nav>